@model IEnumerable<Negotiation.Models.NegotiationSideDescription>
@{
    <table border="1">
        <tr>
            <th>Values</th>
            @if (Model.Count() == 1)
            {
                <th>Scores</th>
            }
            else
            {
                foreach (var side in Model)
                {
                    <th>@side.Name</th>
                }
            }
        </tr>
        @foreach (var topic in Model.First().Topics.Keys)
        {
            <tr>
                <td colspan="@(Model.Count() + 1)" style="text-align:center">
                    <b>@topic</b>
                </td>
            </tr>
            foreach (String optionName in Model.First().Topics[topic].Options.Keys)
            {
                <tr>
                    <td>@optionName</td>
                    @foreach (var option in Model.Select(x => x.Topics[topic].Options[optionName]))
                    {
                        <td>@String.Format("{0:+#;-#;0}", option.Score)</td>
                    }
                </tr>
            }
        }
        <tr>
            <td colspan="@(Model.Count() + 1)" style="text-align:center">
                <b>Time Effects:</b>
            </td>
        </tr>
        <tr>
            <td>
                Decrease per @Negotiation.App_Start.NegotiationConfig.RoundLength.TotalSeconds sec:
            </td>
            @foreach (var time in Model.Select(x => x.TimeEffect))
            {
                <td>
                    @String.Format("{0:+#;-#;0}", time)
                </td>
            }
        </tr>
        <tr>
            <td>
                Opt-out score:
            </td>
            @foreach (var optout in Model.Select(x => x.Optout))
            {
                <td>
                    @String.Format("{0:+#;-#;0}", optout)
                </td>
            }
        </tr>
        <tr>
            <td>
                Time-out score:
            </td>
            @foreach (var reservation in Model.Select(x => x.Reservation))
            {
                <td>
                    @String.Format("{0:+#;-#;0}", reservation)
                </td>
            }
        </tr>

    </table>
}
